<div class="jumbotron" ng-repeat="x in [1,2,3,4]">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<!-- to highlight the main nav-bar when load or refresh -->
<script> 
  document.getElementById("nav-2").className = "active";
  document.getElementById("nav-1").className = "";
  document.getElementById("nav-3").className = "";
</script>
